.arrowimg {
    height: calc(var(--size-default) * 0.8);
    font-size: calc(var(--size-default) * 1.5);
	margin:0 5px
}

.arrow {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: calc(var(--size-default) * 1);
    text-transform: uppercase;
}

.main {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 6rem;
}

.h2{
	text-align: center;
	margin-bottom: 1rem
}

.projectImage {
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: var(--background-color);

}

.projectVideo{
	width: 100%
}

.link {
  position: relative;
}

.anchor{
	color:inherit
}

.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}

.link:hover::after {
  opacity: 1;
}

h3 {
    text-transform: uppercase;
    font-size: calc(var(--size-default) * 1.2);
}

.h3container {
    margin: 1.5rem 0;
}

@media (min-width: 768px) {

.twoBlocks{
    display: flex;
    gap: 10px;
	margin: 0 auto;
	justify-content: center;
}

.projectImage {
	display: block;
    width:560px;
}

.texteBlock{
    width:560px
}

.projectVideo{
	width:560px;
    height:315px;
}

}