.mainContainer {
    width: 90%;
    margin: 0 auto;
}

.presentationContainer {
    margin: 20px 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.pblock {
    display: block;
    width: 100%;
}

.avatar {
    display: none;
}

.h2middle {
    text-align: center;
    margin-bottom: 0.5rem;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 6rem;
}

@media (min-width: 768px) {
    .mainContainer {
        width: 64%;
    }

    .avatar {
        aspect-ratio: 1/1;
        width: min(100%, 250px);
        border-radius: 25%;
        display: block;
        margin-left: auto;
    }
    .presentationContainer {
        align-items: center;
        margin: 15px auto 20px;
        gap: 10px;
    }

    .projectsContainer {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }
}
