.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px 5px;
    background-color: var(--secondary-bg-color);
}

.logo{
    aspect-ratio: 1/1;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 30%;
}

h1{
    margin: 0 auto
}