.arrowimg{
    height: calc(var(--size-default)*0.8);
    font-size: calc(var(--size-default)*1.5) ;
	margin:0 5px
}

.arrow{
        text-decoration: none;
    color:var(--secondary-color);
     font-size: calc(var(--size-default)*1) ;
     text-transform: uppercase;
}

.main{
    width: 80vw;
    margin:1rem auto;
}

.desc{
    margin: 0.5rem auto 1.5rem;
}

.projectsList{
    padding-bottom: 6rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

@media (min-width: 768px) {

.projectsList{
    flex-direction: row;
    gap: 35px;
    flex-wrap:wrap;
    justify-content: center;
}

.h2{
	text-align: center;
}

}

@media (min-width: 1100px) {

.desc{
    text-align: center;
}

}